.elements {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  margin: 50px auto;
}

.element {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  border-radius: 10px;
  list-style-type: none;
  background-color: var(--primary-color);
}

.element__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element__trash {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 20px;
  height: 19px;
  background-image: url('../images/Trash.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.element__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}

.element__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
}

.element__title {
  color: var(--secundary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__icon {
  width: 21px;
  height: 19px;
}

.element__icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.element__icon-active {
  background-image: url('../images/heart-button-black.png');
}

@media screen and (max-width: 800px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 44px auto;
  }

  .element {
    max-width: 282px;
  }
}

@media screen and (max-width: 580px) {
  .elements {
    grid-template-columns: 1fr;
    width: fit-content;
    margin: 36px auto 19px;
  }

  .element {
    max-width: 282px;
  }
}
