* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

:root {
  --primary-color: #ffffff;
  --secundary-color: rgb(0, 0, 0);

  --opacitiy_secundary-color: rgba(0, 0, 0, 0.8);

  --primary-font: 'Inter', Arial, sans-serif;
}
